@charset "UTF-8";

.pointer{
	cursor: pointer;
}

.pointerable{
	cursor: pointer;
}

.reference{
	cursor: url(../WEB-CURSORS/pointer.ani),auto;
}

.referencable{
	cursor: url(../WEB-CURSORS/pointer.ani),auto;
}